<div class="field">
  <%= f.label :description, f.object.score, class: "control-label" %>
  <div class="dec-input-wrapper">
    <%= f.hidden_field :score %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
</div>
