<div class="well dec-association-fields">
  <%= link_to_remove_association f, { wrapper_class: 'well' } do %>
    <i class="fa fa-close fa-lg"></i>
  <% end %>
  <fieldset class="nested-fields">
    <%= render 'criteria/fields', f: f %>
  </fieldset>
</div>
