<th class="dec-criterium-headers">
  <% if view == 'edit' %>
    <div class="dec-matrix-edit-buttons">
      <%= link_to edit_matrix_criterium_path(@matrix, criterium),
                  id: "edit-criterium-#{criterium.id}",
                  class: 'btn-circle' do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to matrix_criterium_path(@matrix, criterium),
                  data: { confirm: 'You sure?',
                          method: 'delete'},
                  id: "delete-criterium-#{criterium.id}",
                  class: 'btn-circle' do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
  <div class="dec-table-th">
    <%= sort_options "criterium_score", criterium_id: criterium.id,
                     title: criterium.name  %>
  </div>
  <div class="dec-table-score-info">
    <%= number_to_percentage criterium.weight, precision: 1 %>
  </div>
</th>
