<th>
  <%= criterium.name %>
  <% if view == 'edit' %>
    <%= link_to 'Edit',
                edit_matrix_criterium_path(@matrix, criterium),
                id: "edit-criterium-#{criterium.id}",
                class: 'btn btn-xs btn-warning' %>
    <%= link_to 'Delete',
                matrix_criterium_path(@matrix, criterium),
                data: { confirm: 'You sure?',
                        method: 'delete'},
                id: "delete-criterium-#{criterium.id}",
                class: 'btn btn-xs btn-danger' %>
  <% end %>
  <div class="table-subheading">
    Weight: <%= criterium.weight %>
  </div>
</th>
