<div class="alert alert-tip" >
  <b>NOTE:</b> It is important that your criteria are worded so that an option most aligned with the criterium description is the option you would pick based on that criterium.
</div>
