<% header @matrix.name %>

<h5>Edit Criterium: <%= @criterium.name %></h5>
<div class="dec-form-description">
  <%= render 'tip' %>
</div>

<div class="well">
  <%= render 'form' %>
</div>

<%= link_to 'Back', edit_matrix_path(@matrix) %>
