<% header @matrix.name %>

<h5>Edit Criterium: <%= @criterium.name %></h5>
<div class="dec-form-description">
  <div class="alert alert-tip" >
    <b>NOTE:</b> It is important that your criteria are worded such an option most aligned with the criterium description is the option you would pick based on that criterium.
  </div>
</div>

<div class="well">
  <%= render 'form' %>
</div>

<%= link_to 'Back', edit_matrix_path(@matrix) %>
