<% header "#{@matrix.name}" %>

<%= render 'layouts/progress', percent: 90 %>

<a id='show-matrix-form' data-toggle="collapse" href="#editMatrixName" aria-expanded="false" aria-controls="editMatrixName">
  Edit details
</a>
<div class="collapse" id="editMatrixName">
  <%= render 'form', edit: true %>
</div>

<h5><b>Rate Your Options</b></h5>
<div class="dec-form-description">
  Select a rating for every criterium/option intersection. Percentages next to criteria reflect the weight that will be applied to ratings in that criterium.
</div>

<%= render 'matrix', view: 'edit' %>

<%= link_to 'View Your Results!', @matrix, class: 'btn btn-block btn-lg btn-primary' %>
