<% header "#{@matrix.name}" %>

<%= render 'layouts/progress', percent: 90 %>

<ul class="list-inline">
  <li><%= link_to 'Presentation mode', @matrix %></li>
  <li>
    <a id='show-matrix-form' data-toggle="collapse" href="#editMatrixName" aria-expanded="false" aria-controls="editMatrixName">
      Edit details
    </a>
  </li>
</ul>


<div class="collapse" id="editMatrixName">
    <%= render 'form', edit: true %>
</div>


<%= render 'matrix', view: 'edit' %>
