<h1>Edit <%= @matrix.name %></h1>

<%= render 'form' %>

<%= link_to matrix_path(@matrix),
            data: { confirm: 'You sure?',
                    method: 'delete'},
            id: 'delete-matrix',
            class: 'btn btn-small btn-danger' do %>
  Delete <%= @matrix.name %>
<% end %>
