<div class="jumbotron">
  <h1>Life is full of tough decisions.</h1>
  <p>
    Decision matrices help people and teams choose wisely based on priorities and values.
  </p>
  <%= link_to 'Click here to start a new decision', new_matrix_path, id: 'new-matrix', class: 'btn btn-success btn-lg btn-block' %>
</div>

<%= render 'matrices_list', matrices: @my_matrices, heading: 'Your decisions:' %>
<%= render 'matrices_list', matrices: @other_matrices, heading: "Other users' decisions:" %>
