// scss-lint:disable PlaceholderInExtend
// LAYOUT
form {
  @extend .form-horizontal;
}

// scss-lint:disable SelectorFormat
.new_user,
.edit_user,
.form-additional-options {
  @extend .well;
  @include make-sm-column(6);
}

.new_matrix,
.edit_matrix,
.new_criterium,
.edit_criterium,
.new_option,
.edit_option {
  @extend .well;
}
// scss-lint:enable SelectorFormat

.form-additional-options {
  background-color: $body-bg; // to undo well coloring
}

.field > label,
.field_with_errors > label {
  @include make-lg-column(3);
}

.dec-input-wrapper {
  @include make-lg-column(9);
}


.dec-input-wrapper-without-label,
.actions {
  @extend .col-lg-offset-3;
}

.dec-input-wrapper-without-label {
  padding-left: 15px;
}

// FORM-GROUPS AND CONTROLS
label {
  @extend .control-label;
}

input {
  background-color: rgba(0, 0, 0, 0);

  &[type=email],
  &[type=password],
  &[type=text] {
    @extend .form-control;
  }

  &[type=button] {
    @extend .btn;
  }

  &[type=submit] {
    @extend .btn;

    &.dec-btn-delete {
      @extend .btn-danger;
    }
  }

  &.dec-numbers-only {
    text-align: right;
  }
}

select {
  @extend .form-control;
}

.action,
.field {
  @extend .form-group;
}

.dec-btn-options {
  @extend .btn, .btn-sm, .btn-primary;
  margin-left: 15px;
}

.dec-table-form {
  input {
    &[type=text] {
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
    }

    &[type=submit] {
      @extend .btn-xs;
      clear: both;
    }
  }
}

.btn-circle {
  @extend .btn;
  @extend .btn-link;
  border-radius: 100%;
  color: $link-color;
  padding-left: 0;
  padding-right: 0;
  height: 36px;
  width: 36px;

  &:hover {
    color: $link-color;
  }
}

.field_with_errors {
  @extend .has-error;
}
// scss-lint:enable PlaceholderInExtend
