%right-justified-numbers {
  text-align: right;
  font-weight: normal;
}

.dec-table-score {
  @extend %right-justified-numbers;
}

.dec-table-score-weighted {
  line-height: 1.2;
  color: $gray-dark;
  font-size: 1.5em;
  font-weight: $headings-font-weight;
}

.dec-table-score-info {
  @extend %right-justified-numbers;
  float: right;
}

.dec-matrix > thead > tr > th {
  vertical-align: top;
}

.dec-table-th {
  float: left;
}

.dec-matrix-edit-buttons {
  text-align: right;
}

.dec-result {
  font-size: 80%;
}

.dec-winner {
  color: $brand-success;
}

.dec-tie {
  color: $brand-danger;
}
