%dec-direction {
  text-decoration: none;
  color: $gray-light;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

%dec-sortable {
  color: $text-color;

  &:hover {
    text-decoration: none;

    &::before {
      color: $link-hover-color;
    }
  }

  &::before {
    @extend %dec-direction;
    padding-right: 5px;
  }

  &.dec-asc::before,
  &.dec-desc::before {
    color: $link-color;
  }
}

.dec-sort-vert {
  @extend %dec-sortable;

  &::before {
    content: '\f0dc';
  }

  &.dec-asc::before {
    content: '\f0de';
  }

  &.dec-desc::before {
    content: '\f0dd';
  }
}
